.no-store{
    color: red;
    font-size: large;
}
#map {
    height: 500px;
    width: auto;
}
.wb-store-main {
    text-align: center;
    font-weight: bold;
    padding-bottom: 30px;
}
.wb-store-main > h2 {
    margin: 0px;
}
.wb-store-details.wb-listing {
    height: 500px;
    overflow-y: scroll;
    padding: 10px;
    float: left;
    text-align: left;
    width: 40% !important;
    display: grid;
    box-shadow: 0 0 10px #eee;
    border-radius: 5px 5px 0;
    background-color: #fff;
}
.wb-description{
    text-align: left;
}
.wb-store-info-image {
    padding-right: 15px;
    width: 35%;
}
.wb-store-data {
    padding-bottom: 15px;
}
.store-name{
    margin: 0px;
}
.wb-store-contact{
    font-weight: bold;
}
.wb-status-state{
    font-weight: bold;
}
.wb-store-enter-field input,
.wb-store-enter-field select{
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 5px 10px;
    width: 32.4%;
    float: left;
    margin:5px;
}
/*Store Locator form*/
.store-main-content {
    padding: 20px 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 30px;
    border: 1px solid #eee;
}
.wb-store-enter-field {
    overflow: hidden;
}
#amount {
    padding: 0;
    background: none;
}
.ui-slider-handle{
    background-color: #e6741d;
    height: 10px;
    width: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
}
.ui-slider-handle.ui-state-default.ui-corner-all {
    width: 18px;
    height: 18px;
    top: -5px;
}
#store-filter-check {
    padding: 10px 30px;
    border-radius: 4px;
}
.wb-store-range-slider.wb-store-range {
    float: left;
    width: 32.33%;
    padding: 8px;
    margin: 5px 5px 0;
}
.wb-store-range-slider input#amount {
    height: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}
.wb-store-search {
    padding: 0 5px;
}

/*Store Details*/
.wb-store-details {
    width: 65%;
}
.wb-store-info-image .wb-image{
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.wb-store-info-image img {
    border-radius: 5px;
}
.wb-store-details span {
    display: block;
    line-height: normal;
    margin-top: 5px;
}
.wb-store-details h3{
    margin:0;
}

/*dev custom*/
.wbstore-store-index .page-main{
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.content-title {
    text-align: center;
    padding: 40px 0 30px;
}
.content-title input{
    float: none;
}
.content-title #store-filter-check {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin: auto;
}
#zipcode-filter-check {
    background: transparent;
    border: none;
}
.wb-store-search {
    padding-top: 20px;
}
.content-title .title h2 {
    font-size: 28px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #262323;
}
.content-title span {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #262323;
}
.content-title #wbcom-zipcode {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    color: #262323;
}
.wb-listing {
    max-width: 1170px;
    padding: 40px 0;
    margin: auto;
    display: block;
    position: relative;
}
.wb-store-data {
    width: 33.33%;
    display: inline-block;
    flex-wrap: unset;
    float: left;
    border-bottom: none;
    padding: 0 10px;
}
.wb-store-info-image {
    width: 100%;
    padding-right: 0;
}
.wb-store-details {
    width: 100%;
    margin: auto;
    padding-top: 20px;
    background-color: #fff;
    padding: 15px;
}
.wb-store-details a {
    display: block;
}
.wb-store-details .view-map {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.4px;
    text-align: left;
    color: #262323;
    text-transform: uppercase;
    padding-top: 20px;
    display: inline-block;
}
.round-maps {
    float: none;
    display: inline-block;
}
.wb-store-details span h3{
    text-transform: uppercase;
}
.wb-store-data:nth-child(3n+4){
    clear: both;
}
.store-main-content {
    background-color: #fff;
    border: none;
    border-radius: 0;
}
.content-title #wbcom-zipcode {
    border-radius: 0;
}
.content-title #store-filter-check {
    border-radius: 0;
}
.store-main-content .arrow-find:before{
    color: #000;
    font-weight: 700;
    content: '\e929';
    right: 0;
    position: absolute;
    top: 0;
    opacity: 1;
    font-size: 20px;
    line-height: 20px;
    transition: 0.2s;
    font-family: 'icomoon';
}
#zipcode-filter-check {
    padding: 0;
    margin: 0;
    width: 36px;
    text-align: center;
    vertical-align: middle;
}
.box-finder {
    height: 20px;
    width: 30px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    margin-left: -50px;
}
.arrow-find {
    height: 20px;
    width: 20px;
    position: absolute;
    vertical-align: middle;
    cursor: pointer;
}
.wbstore-store-index .location_phone{
    font-weight: bold;
    color: #274375;
}
.wbstore-store-index .location__hours{
    margin: 10px 0 20px;
}
.wbstore-store-index .location__hours strong {
    color: #274375;
}
.wb-store-details span h3 {
    font-size: 15px;
}
span.wb-store-name.wb-store-info {
    height: 48px;
}

/*Mobile Css*/
@media only screen and (max-width: 767px) {
    .wb-store-enter-field input,
    .wb-store-enter-field select {
        width: 100%;
        margin:5px 0;
    }
    .wb-store-range-slider.wb-store-range {
        width: 97%;
        margin: 5px 0;
    }
    .wb-store-details.wb-listing {
        width: 100% !important;
        display: block;
        float: none;
    }    
    #map {
        height: 350px;
    }
    .wb-store-data {
        width: 100%;
        float: none;
        margin: auto;
    }
    .locations_form .box_header {
        padding-bottom: 15px;
    }
    .page-main .home-locations .locations .locations__container .locations__items .stores-carousel .location {
        margin-right: 0;
    }
    .page-main .home-locations .locations .locations__container {
        padding-bottom: 0;
    }
    .content-title #wbcom-zipcode {
        width: 90%;
    }
}

@media only screen and (max-width: 400px) {
    
    .wb-store-data {
        display: block;
    }
    .wb-store-info-image {
        padding-right: 0;
        width: auto;
    }
    .wb-store-details {
        width: 100%;
        margin-top: 20px;
    }
    .wb-store-maps {
        margin-top:15px;
    }

}

@media only screen and (min-width: 768px) and (max-width:1141px ) {
    .wb-store-enter-field input,
    .wb-store-enter-field select,
    .wb-store-range-slider.wb-store-range {
        width: 32%;
        margin: 4px;
    }
}