/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 *
 * Glory to Ukraine! Glory to the heroes!
 */

.cms-inner {
    max-width: 872px;
    width:100%;
    margin:0 auto;
}
.terms ul{
    padding-left:0;
    list-style: none;
}
.terms ul li {
    margin-bottom:25px;
}
.terms ul li a {
    display: block;
    border-radius: 5px;
    background-color: #e3e9f5;
    padding: 15px 35px;
    font-size: 14px;
    font-weight: 600;
    color: #262323;
    cursor:pointer;
}
.terms ul li a:hover, .terms ul li a.active {
    color:#fff !important;
    background-color:#274375;
}
.terms ul li a:after {
    content:'+';
    font-size:18px;
    color:#262323;
    font-family:"Montserrat", sans-serif;
    float:right;
}
.terms ul li a.a-tab {
    text-transform:uppercase;
}

.terms ul li a:hover:after, .terms ul li a.active:after {
    color:#fff;
    content:'-';
}

.terms ul li .tab-content {
    padding:25px 25px 10px 25px;
    font-size:16px;
}
.terms ul li .tab-content p {
    font-size:16px;
}
.cms-inner h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height:25px;
}
.cms-inner p {
    font-size: 16px;
    font-weight: normal;
    text-align:left;
    margin-bottom:25px;
}
.shipping_options h3 {
    text-align:center;
    line-height: 25px;
}
h3.top-title {
    margin-top: 30px;
    margin-bottom: 15px;
}
h3.des-title {
    margin-bottom: 40px;
}
.cancelling_return .block-1{margin-top:25px;}
.cancelling_return .block-2 p.block-bg {font-size:14px;}
.terms .ul-list {
    margin-top:45px;
}
.privacy h3 {
    text-align:center;
    margin-top:30px;
    margin-bottom:30px;
}
.about-us h1 {
    font-size:28px;
    text-transform:none;
    font-weight: bold;
}
.about-us p {
    font-size:18px;
    margin-bottom:25px;
}
.store-history {
    margin-top:20px;
}
.about-us .cirle {
    background: #e3e9f5;
    width: 160px;
    border-radius: 100%;
    text-align: center;
    height: 160px;
    position:relative;
    z-index:100;
}
.about-us .cirle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:20px;
    font-weight:bold;
    white-space: nowrap;
}