/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 *
 * Glory to Ukraine! Glory to the heroes!
 */

.cms-inner {
    max-width: 872px;
    width:100%;
    margin:0 auto;
}
.terms ul{
    padding-left:0;
    list-style: none;
}
.terms ul li {
    margin-bottom:25px;
}
.terms ul li a {
    display: block;
    border-radius: 5px;
    background-color: #e3e9f5;
    padding: 15px 35px;
    font-size: 14px;
    font-weight: 600;
    color: #262323;
    cursor:pointer;
}
.terms ul li a:hover, .terms ul li a.active {
    color:#fff !important;
    background-color:#274375;
}
.terms ul li a:after {
    content:'+';
    font-size:18px;
    color:#262323;
    font-family:"Montserrat", sans-serif;
    float:right;
}
.terms ul li a.a-tab {
    text-transform:uppercase;
}

.terms ul li a:hover:after, .terms ul li a.active:after {
    color:#fff;
    content:'-';
}

.terms ul li .tab-content {
    padding:25px 25px 10px 25px;
    font-size:16px;
}
.terms ul li .tab-content p {
    font-size:16px;
}
.small-cirle {
    border:solid 1px #274375;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    margin: 0 auto;
}
.h-line {
    width: 1px;
    height: 80px;
    background: #000;
    margin: 0 auto;
    margin-bottom: -10px;
    position: relative;
    z-index: 101;
}
.col-odd .h-line {
    margin-top: -10px;
    margin-bottom:0;
}
.col-sm-2.col-odd {
    padding-top: 194px
}
.about-map {
    margin-top:-205px;
}
.text-circle {
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
    min-height:96px;
}
.block-two .text-circle {
    min-height:48px;
}
.block-two .col-sm-2.col-odd {
    padding-top: 146px;
}
.row.block-two {
    margin-top: -290px;
}
.col-odd .text-circle {
    margin-top:10px;
}
.text-circle.col1, .text-circle.col5 {
    padding-top: 48px;
}
.fix-width {
    width:1140px;
    overflow:auto;
}

.cms-inner h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height:25px;
}
.cms-inner p {
    font-size: 16px;
    font-weight: normal;
    text-align:left;
    margin-bottom:25px;
}
.shipping_options h3 {
    text-align:center;
    line-height: 25px;
}
h3.top-title {
    margin-top: 30px;
    margin-bottom: 15px;
}
h3.des-title {
    margin-bottom: 40px;
}
.cancelling_return .block-1{margin-top:25px;}
.cancelling_return .block-2 p.block-bg {font-size:14px;}
.terms .ul-list {
    margin-top:45px;
}
.privacy h3 {
    text-align:center;
    margin-top:30px;
    margin-bottom:30px;
}
.about-us h1 {
    font-size:28px;
    text-transform:none;
    font-weight: bold;
}
.about-us p {
    font-size:18px;
    margin-bottom:25px;
}
.store-history {
    margin-top:20px;
}
.about-us .cirle {
    background: #e3e9f5;
    width: 160px;
    border-radius: 100%;
    text-align: center;
    height: 160px;
    position:relative;
    z-index:100;
}
.about-us .cirle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:20px;
    font-weight:bold;
    white-space: nowrap;
}
.manufactures .block-img {
    border: solid 0.3px #e5e5e5;
    text-align:center;
    width:100%;
    padding:5px;
    min-height:80px;
    margin-bottom:23%;
}
.contact-index-index h2, .contact-index-index .form.contact legend {
    color:#262323;
    font-family: "Open Sans", sans-serif;
    font-size:20px;
    letter-spacing:0;
    font-weight:bold;
}
.contact-index-index .form.contact .field.note {
    color:#262323;
    font-family: "Open Sans", sans-serif;
    font-size:20px;
    font-weight: 600;
}
.contact-index-index .contact-info-icon {
    font-size:30px;
}
.contact-index-index .contact-info-icon {
    width:50px;
}
.contact-index-index .contact-info-title {
    line-height:32px;
}
.contact-index-index .contact-info-text {
    margin-left:0;
    padding-top:7px;
    text-transform:none;
}
.contact-index-index .form.contact .field label {
    font-size:14px;
}
.contact-index-index .form.contact .actions-toolbar .primary {
    width:100%;
}
.contact-index-index .form.contact .actions-toolbar .primary .action.submit{
    width:100%;
    height:48px;
    line-height:48px;
    font-size:16px;
    font-weight:600;
    font-family: "Open Sans", sans-serif;
    padding:0;
}
.contact-index-index .page-title-wrapper {
    opacity:0;
}

/* Teletron Ads page */
.blog-category-view .category-content {
    display: none;
}

.blog-category-view .sidebar-additional, .blog-post-view .sidebar-additional {
    display: none;
}

.blog-category-view .container .main, .blog-post-view .container .main {
    width: 100%;
}

.blog-category-view .nav-sections + .page-title-wrapper .page-title {
    text-transform: capitalize;
}

.post-list-wrapper .post-author, .post-list-wrapper .post-posed-date {
    display: inline-block;
}

.post-list-wrapper .post-author .label {
    color: #a8a8a8;
}

.post-list-wrapper .post-author .value {
    color: #000;
}

.post-list-wrapper .post-posed-date {
    float: right;
    color: #a8a8a8;
}

.box-read-more {
    text-align: center;
    padding: 10px 0 20px;
}

.box-read-more .read-more-ads {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}

.box-ads {
    padding-bottom: 20px;
    display: inline-block !important;
}

.teletronads-index-index .post-ftimg-hld {
    height: 170px;
    overflow: hidden;
}
. teletronads-index-index.post-ftimg-hld img {
    height: auto;
    max-height: none;
}
.box-ads .box-text .title-ads a {
    color: #000;
    font-weight: 600;
}

.box-ads .box-text .title-ads {
    text-align: center;
    height: 50px;
    padding: 10px;
}

.post-list-wrapper {
    padding: 50px 0;
}

.toolbar-blog-posts {
    float: right;
}

.box-ads .box-text {
}

.box-ads .box-text .post-info {
    padding: 0 10px;
}

.box-ads:hover .box-text {
    /*background-color: #282828;*/
}

.box-ads:hover .box-text .title-ads a {
    color: #fff;
    text-decoration: none;
}

.post-author a {
    color: #000;
}

.box-ads:hover .box-text .post-author a,
.box-ads:hover .box-text .post-author span,
.box-ads:hover .box-text .post-posed-date span,
.box-ads:hover .box-read-more .read-more-ads {
    /*color: #fff;*/
}

.blog-post-view .post-view {
    padding-top: 50px;
}

.log-post-view .post-posed-date {
    margin-left: 20px;
}

#title-category-ads .title div {
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    #title-category-ads .title:nth-child(1), #title-category-ads .title:nth-child(2) {
        width: 32.8%;
        margin-right: 0.53%;
    }

    .title-category-ads .title {
        width: 33.33%;
        text-align: center;
        background: #f6f6f6;
        color: #262323;
        padding: 20px 15px;
        font-family:"Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
    }
    .title-category-ads .title.activeSub , .title-category-ads .title:hover{
        background: #e3e9f5;;
    }
    .post-list-wrapper .col-md-3 {
        float: left;
        margin-bottom: 15px;
    }
    .post-list-wrapper .list-ads {
        display: none;
    }

    .post-list-wrapper .list-ads.activeSub {
        display: block !important;
    }

    .teletronads-index-index .post-list-wrapper {
        padding: 0;
    }

    .teletronads-index-index #title-category-ads {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .teletronads-index-index .post-list-wrapper .box-ads .box-text .title-ads {
        padding: 10px 0;
        height: 56px;
        overflow: hidden;
        margin: 0;
    }

    .teletronads-index-index .post-list-wrapper .box-ads .box-text .box-read-more {
        padding: 0 0 10px;
        opacity: 0;
    }
    .teletronads-index-index .post-list-wrapper .box-ads:hover .box-text .box-read-more {
        opacity: 1;
    }

    .activeSub .box-ads {
        padding-bottom: 10px;
    }
    .activeSub .box-ads .box-ads-content {
        padding-bottom: 10px;
    }
    .activeSub .box-ads:hover .box-ads-content {
        -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.19);
        -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.19);
        box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.19);
    }

    .activeSub .box-ads .box-text .title-ads a {
        font-size: 16px;
        color: #262323;
        font-weight: normal;
        line-height: 20px;
    }

    .teletronads-index-index .post-list-wrapper .box-ads.left,
    .teletronads-index-index .post-list-wrapper .box-ads.right {
        padding-left: 10px;
        padding-right: 10px;
    }

    .teletronads-index-index .box-ads .box-text {

    }

    .teletronads-index-index .box-ads:hover .box-text {
        /*background-color: #282828;*/
    }

    .teletronads-index-index .box-read-more .read-more-ads {
        color: #979797;
        text-decoration: none;
        color: #262323;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
        border-bottom: 3px solid #ff8b00;
        padding-bottom: 3px;
    }

    .teletronads-index-index .box-ads:hover .box-text .title-ads a {
        /*color: #fff;*/
    }

    .saleproduct-index-index .product-item-info,
    .newproduct-index-index .product-item-info {
        width: auto;
    }


    #social-media-gallary {
        padding-top: 40px;
    }

    #social-media-gallary .padding-box-social {
        padding: 0;
        -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.19);
        -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.19);
        box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.19);
        max-width: 23%;
        margin: 1%;
    }

    .box-text-m {
        width: 100%;
        height: 100%;
        background: #274375;
        color: #fff;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0.8;
        -webkit-transition: opacity;
    }

    .social-media-title span {
        width: 100%;
        color: #fff;
        font-weight: bold;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .padding-box-social a:hover .social-media-title {
        display: block !important;
    }

    #social-media-gallary .padding-box-social a .full_img {
        width: 100%;
        max-height: 280px;
    }
}
.i-text {
    padding:15px 15px 0 15px;
    font-weight:600;
}
.socialmediagallery-index-index .page-title-wrapper {display: none}
@media only screen and (min-width: 1025px) {
    .social-media-title {
        display: none;
    }

    #social-media-gallary .social-media-title span {
        top: 40%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #social-media-gallary .padding-box-social {
        padding: 0 0 10px;
    }

    #social-media-gallary .row {
        margin: 0;
    }

    #social-media-gallary .box-text-m {
        width: 100%;
        height: 28%;
        background: #ebebeb;
        color: #fff;
        text-align: center;
        position: absolute;
        left: 0;
        opacity: 0.7;
        -webkit-transition: opacity;
    }

    #social-media-gallary .socials-right .box-text-m {
        bottom: 0;
    }

    #social-media-gallary .socials-left .box-text-m {
        top: 0;
    }

    #social-media-gallary .social-media-title span {
        width: 100%;
        color: #000;
        font-weight: bold;
        text-align: center;
        position: absolute;
        left: 0;
    }

    #social-media-gallary .socials-right .social-media-title span {
        bottom: 3px;
    }

    #social-media-gallary .socials-left .social-media-title span {
        top: 3px;
    }

    /*  #social-media-gallary .socials-left{
         padding-right: 5px;
     }
     #social-media-gallary .socials-right{
         padding-left: 5px;
     } */
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .post-list-wrapper .list-ads.activeSub, .teletronads-index-index #title-category-ads .row {
        margin-left: 0;
        margin-right: 0;
    }
    .teletronads-index-index .post-list-wrapper .box-ads.left, .teletronads-index-index .post-list-wrapper .box-ads.right {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.teletronads-index-index .page-title-wrapper {
    display: none;
}
@media screen and (max-width: 767px) {
    .col-xs-6 {
        width: 50%;
    }
    #title-category-ads .title:nth-child(1), #title-category-ads .title:nth-child(2) {
        width: 32.8%;
        margin-right: 0.53%;
    }

    .title-category-ads .title {
        width: 33.33%;
        text-align: center;
        background: #f6f6f6;
        color: #262323;
        padding: 10px;
        font-family:"Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
    }
    .title-category-ads .title.activeSub {
        background: #e3e9f5;;
    }
    #title-category-ads .title {
        color: #979797;
        text-align: center;
    }

    #title-category-ads .activeSub {
        color: #000 !important;
    }

    #title-category-ads .title span {
        border-bottom: 3px solid transparent;
    }

    #title-category-ads .activeSub span {
        border-bottom: 3px solid #000 !important;
    }

    .post-list-wrapper .list-ads {
        display: none;
    }

    .post-list-wrapper .list-ads.activeSub {
        display: block !important;
    }
    .post-list-wrapper .list-ads.activeSub .row {
        margin-left: 0;
        margin-right: 0;
    }

    .teletronads-index-index .post-list-wrapper {
        padding: 0;
    }

    .teletronads-index-index #title-category-ads {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .teletronads-index-index .post-ftimg-hld {
        height: 109px;
    }

    .teletronads-index-index .post-list-wrapper .box-ads .box-text .title-ads {
        padding: 10px 0;
        height: 33px;
        overflow: hidden;
        margin: 0;
    }

    .teletronads-index-index .post-list-wrapper .box-ads .box-text .box-read-more {
        padding: 0 0 10px;
    }

    #title-category-ads .title:nth-child(1) {
        text-align: center;
    }

    #title-category-ads .title:nth-child(3) {
        text-align: center;
    }

    .activeSub .box-ads {
        padding-bottom: 10px;
    }

    .activeSub .box-ads .box-text .title-ads a {
        font-size: 12px;
        color: #262323;
    }

    .teletronads-index-index .post-list-wrapper .box-ads.left {
        padding-right: 5px;
        padding-left: 10px;
    }

    .teletronads-index-index .post-list-wrapper .box-ads.right {
        padding-left: 5px;
        padding-right: 10px;
    }

    .teletronads-index-index .box-ads .box-text {
        /* background-color: #f2f2f2;*/
    }

    .teletronads-index-index .box-ads:hover .box-text {
        /*background-color: #282828;*/
    }

    .teletronads-index-index .box-read-more .read-more-ads {
        color: #979797;
        text-decoration: none;
        color: #262323;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0px;
        border-bottom: 2px solid #ff8b00;
        padding-bottom: 3px;
    }
    .activeSub .box-ads .box-ads-content {
        -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.19);
        -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.19);
        box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.19);
    }
    /*.teletronads-index-index .box-ads:hover .box-text .title-ads a {
        color: #fff;
    }

    .teletronads-index-index .box-ads:hover .box-text {
        background-color: #282828;
    }*/
    .terms ul li .tab-content {
        padding: 15px 15px 10px 15px;
    }
    .cms-inner p {
        margin-bottom:15px;
    }
    .terms ul li {
        margin-bottom:10px;
    }
    .terms ul li a {
        padding:10px 15px;
    }
    .manufactures .block-img {
        margin-bottom:10px;
    }
    .manufactures .col-sm-8 {
        margin-bottom:10px;
    }
    .container.about-us {
        padding-left:0;
        padding-right:0;
    }
    .about-us .col-sm-6 {
        margin-bottom:10px;
    }
    .about-us .col-sm-2 {
        float:left;
        width:50%;
    }
    .about-us .fix-width {
        width:auto;
    }
    .row.block-two {
        margin-top:-100px;
    }
    .about-us .block-three .text-circle{
        min-height:0;
    }
    .about-us .block-three .col-odd {
        padding-top:145px;
    }
    .text-circle.col1, .text-circle.col5 {
        padding-top: 25px;
    }
    .block-two .col-sm-2.col-odd.four, .block-two .col-sm-2.col-odd.six {
        padding-top:171px;
    }

    /* social pages */
    #social-media-gallary .padding-box-social {
        padding: 0 0 10px;
    }

    #social-media-gallary .row {
        margin: 0;
    }

    #social-media-gallary .box-text-m {
        height: 37%;
    }

    #social-media-gallary .box-text-m {
        width: 100%;
        height: 36%;
        background: #ebebeb;
        color: #fff;
        text-align: center;
        position: absolute;
        left: 0;
        opacity: 0.7;
        -webkit-transition: opacity;
    }

    #social-media-gallary .socials-right .box-text-m {
        bottom: 0;
    }

    #social-media-gallary .socials-left .box-text-m {
        top: 0;
    }

    #social-media-gallary .social-media-title span {
        width: 100%;
        color: #000;
        font-weight: bold;
        text-align: center;
        position: absolute;
        left: 0;
    }

    #social-media-gallary .socials-right .social-media-title span {
        bottom: 3px;
    }

    #social-media-gallary .socials-left .social-media-title span {
        top: 3px;
    }

    #social-media-gallary .socials-left {
        padding-right: 5px;
    }

    #social-media-gallary .socials-right {
        padding-left: 5px;
    }
}
